<template>
  <div class="message is-success is-large">
    <div class="message-header">
      <h1 class="title has-text-white">That's Correct!</h1>
    </div>
    <div class="message-body has-background-success">
      <button class="button is-large is-success is-inverted is-outlined is-fullwidth is-not-disabled" @click="onNextQuestion">
        Next Question
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      onNextQuestion() {
        this.$emit('confirmed');
      }
    }
  }
</script>

<style lang="scss">
  .message {
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.15);
  }
</style>