<template>
  <transition :name="'slide'" mode="out-in">
    <article class="message is-danger" v-if="show">
      <div class="message-body">
        {{ message }}
      </div>
    </article>
  </transition>
</template>

<script>
  // EventBus from communication between components
  import { eventBus } from '../main';
  // Vue Instance
  export default {
    data() {
      return {
        show: false,
        message: 'That\'s incorrect. Please, try again!'
      }
    },
    created() {
      eventBus.$on('show-notification', () => {
        this.show = true;
        setTimeout(() => this.show = false, 1000);
      });
    }
  }
</script>

<style lang="scss">
  
</style>