<template>
  <div class="card">
    <div class="card-header">
      <h1 class="card-header-title is-centered title">{{ question }}</h1>
    </div>
    <div class="card-content">
      <div class="columns is-multiline is-centered is-variable is-4 is-mobile">
        <div 
            class="column is-half"
            v-for="(btn, index) in btnData" :key="index">
          <button 
              class="button is-large is-fullwidth"
              :class="btn.class"
              :disabled="btn.isDisabled"
              @click="onAnswer({isCorrect: btn.correct, index: index})">
            {{ btn.answer }}
          </button>
        </div>
      </div> <!-- end of div.columns -->
    </div> <!-- end of panel.block -->
  </div> <!-- end of div.panel -->
</template>

<script>
  // Import eventBus from main.js
  import { eventBus } from '../main';
  // Constant values
  const MODE_ADDITION = true;
  // Vue Instance
  export default {
    data() {
      return {
        question: 'a simple question?',
        btnData: [
          {correct: false, answer: 0, class: 'is-info is-not-disabled', isDisabled: false},
          {correct: false, answer: 0, class: 'is-info is-not-disabled', isDisabled: false},
          {correct: false, answer: 0, class: 'is-info is-not-disabled', isDisabled: false},
          {correct: false, answer: 0, class: 'is-info is-not-disabled', isDisabled: false}
        ]
      }
    },
    methods: {
      generateQuestion() {
        // Generamos los numeros aleatorios y el modo a jugar
        const firstNumber = this.generateRandomNumber(1, 100),
              secondNumber = this.generateRandomNumber(1, 100),
              modeNumber = this.generateRandomNumber(1, 2) === 1 ? true : false,
              correctButton = this.generateRandomNumber(0, 3);
        let correctAnswer = 0;
        // Comprobamos primero si se trata de una suma o resta:
        if (modeNumber === MODE_ADDITION) {
          correctAnswer = firstNumber + secondNumber
          this.question = `What's ${firstNumber} + ${secondNumber}?`;
        } else {
          correctAnswer = firstNumber - secondNumber;
          this.question = `What's ${firstNumber} - ${secondNumber}?`;
        }

        this.btnData.forEach((btn, index) => {
          if (index === correctButton) {
            btn.answer = correctAnswer;
            btn.correct = true;
          } else {
            btn.answer = this.generateRandomNumber(
              correctAnswer - 10, correctAnswer +10, correctAnswer);
            btn.correct = false;
          }
        });
      },
      generateRandomNumber(min, max, except) {
        const rndNumber = Math.round(Math.random() * (max - min)) + min;
        if (rndNumber === except) {
          return this.generateRandomNumber(min, max, except);
        } else {
          return rndNumber;
        }
      },
      onAnswer(answer) {
        this.$emit('answered', answer);
      }
    },
    created() {
      this.generateQuestion();
      eventBus.$on('isWrong', (index) => {
        this.btnData[index].class = 'is-danger';
        this.btnData[index].isDisabled = true;
      });
    }
  }
</script>

<style lang="scss">
  .card {
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.15);
  }

  /* Animations */
  .is-not-disabled:hover {
    animation: btn-hover 0.25s forwards;
  }

  @keyframes btn-hover {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
</style>