<template>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-10-tablet is-8-desktop is-6-widescreen">
          <h1 class="title">A Quizz Game!</h1>
          <hr>
          <transition :name="animationMode" mode="out-in">
            <component 
                :is="mode"
                @answered="isAnswered($event)"
                @confirmed="mode = 'app-question'"></component>
          </transition>
        </div> <!-- end of div.column -->
      </div> <!-- end of div.columns -->
      <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-10-tablet is-8-desktop is-6-widescreen">
          <!-- Notification -->
          <app-notification></app-notification>
        </div> <!-- end of div.column -->
      </div> <!-- end of div.columns -->
    </div> <!-- end of div.container -->
  </section>
</template>

<script>
  import Answer from './components/Answer.vue';
  import Question from './components/Question.vue';
  import Notification from './components/Notification.vue';
  import { eventBus } from './main';

  export default {
    data() {
      return {
        mode: 'app-question',
        animationMode: 'slide'
      }
    },
    methods: {
      isAnswered(answer) {
        if (answer.isCorrect) {
          this.mode = 'app-answer';
        } else {
          eventBus.$emit('isWrong', answer.index);
          eventBus.$emit('show-notification');
        }
      }
    },
    components: {
      appAnswer: Answer,
      appQuestion: Question,
      appNotification: Notification
    }
  }
</script>

<style lang="scss">
  /* Bulma CSS Framework */
  @import 'bulma';
  /* Slide animation */
  .slide-enter {
    opacity: 0;
  }

  .slide-enter-active {
    animation: slide-in .3s ease-out forwards;
    transition: opacity .5s;
  }

  .slide-leave-active {
    animation: slide-out .3s ease-out forwards;
    transition: opacity .5s;
    opacity: 0;
  }

  @keyframes slide-in {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(20px);
    }
  }
</style>